<div class="@marginTopClassName"></div>
@code {
    [Parameter]
    public int Spacing { get; set; }

    string marginTopClassName = string.Empty;

    protected override void OnInitialized()
    {
        marginTopClassName = $"mt-{Spacing}";
    }
}
